
body {
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(241,73,129,1) 42%, rgba(233,233,148,0.620693345697654) 56%);
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

.game
{
  height: 20vh;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  width: max(10vw, 100px);
  justify-content: center;
  align-items: center;
  background-color: blue;
}


@keyframes moving2
{
  0%{top: 50%;}
  49%{left: -100%; top: 50%;}
  50%{left: -100%; top: 15%;}
  100%{top: 15%; left: 50%;}
}
@keyframes back
{
  0%{top: 14%;}
  100%{top: 50%;}
}

#back
{
  position: absolute;
  margin: 10px;
  color: white;
  cursor: pointer;
}



#alltogether
{ 
  gap: 20px;
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}

#moving
{

  display: flex;
  top: 50%;
  left: 50%;
  gap: 20px;
}

@media(orientation: portrait)
{
  #alltogether
  {
    flex-direction: column;
  }
}
